@font-face {
  font-family: mikhak;
  src: url("../fonts/mikhak/Mikhak-VF-FD[wght,KSHD,DSTY].woff2"); }

body {
  font-family: mikhak; }

.cursor-pointer {
  cursor: pointer; }

.text-spaced {
  letter-spacing: 5px; }

.anime-1 {
  position: absolute;
  bottom: 10px;
  right: 50%;
  animation-name: fall;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035); }

.light-link-custom {
  color: #d4d4d4;
  transition: all 300ms cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition: all 300ms cubic-bezier(0.86, 0, 0.07, 1);
  -moz-transition: all 300ms cubic-bezier(0.86, 0, 0.07, 1);
  -ms-transition: all 300ms cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: all 300ms cubic-bezier(0.86, 0, 0.07, 1); }
  .light-link-custom:hover {
    color: #cece04; }

.dark-link-custom {
  color: #242424;
  transition: all 300ms cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition: all 300ms cubic-bezier(0.86, 0, 0.07, 1);
  -moz-transition: all 300ms cubic-bezier(0.86, 0, 0.07, 1);
  -ms-transition: all 300ms cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: all 300ms cubic-bezier(0.86, 0, 0.07, 1); }
  .dark-link-custom:hover {
    color: #cece04; }

.colored-underline {
  position: relative; }
  .colored-underline::after {
    content: "";
    position: absolute;
    width: 10%;
    height: 2px !important;
    background-color: rgba(240, 76, 0, 0.938);
    bottom: -5px;
    right: 0; }

.text-justifyed {
  text-align: justify; }

@keyframes fall {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    bottom: 10px; }
  10%,
  30%,
  50%,
  90% {
    bottom: 20px; } }

#header {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0.692); }
  #header::before {
    z-index: -1;
    content: "";
    background: url("../img/home-bg.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

#our_services .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(32, 32, 32, 0.589);
  transition: all 350ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  -webkit-transition: all 350ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  -moz-transition: all 350ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  -ms-transition: all 350ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  -o-transition: all 350ms cubic-bezier(0.895, 0.03, 0.685, 0.22); }

#our_services .position-relative:hover .overlay {
  left: -100%; }

#best_works .overlay {
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  background-color: rgba(32, 32, 32, 0.589);
  transition: all 350ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  -webkit-transition: all 350ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  -moz-transition: all 350ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  -ms-transition: all 350ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  -o-transition: all 350ms cubic-bezier(0.895, 0.03, 0.685, 0.22); }

#best_works .position-relative:hover .overlay {
  left: 0; }

#contact .contact-bg {
  height: 600px;
  background: url("../img/contact-bg.jpg");
  background-size: cover;
  background-position: right; }

#contact .contact-over {
  margin-top: -100px;
  background-color: #f0f0f0; }
  #contact .contact-over input.border-0,
  #contact .contact-over textarea {
    border-bottom: 1px solid #caca1f !important;
    transition: all 300ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
    -webkit-transition: all 300ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
    -moz-transition: all 300ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
    -ms-transition: all 300ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
    -o-transition: all 300ms cubic-bezier(0.895, 0.03, 0.685, 0.22); }
  #contact .contact-over input.border-0:focus, #contact .contact-over textarea:focus {
    border-bottom: 1px solid yellow !important; }

@media (max-width: 768px) {
  .contact-over {
    width: 90% !important; } }
